@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="main-text">
        <h1 class="display-4 text-capitalize text-black">Welcome to our Shop</h1>
    </div>
    <a class="btn btn-primary mt-1 mb-5" asp-area="" asp-page="/Products/Index">Add products</a>
    <a class="btn btn-primary mt-1 mb-5" asp-area="" asp-page="/Sellers/Index">Add Sellers</a>
    <a class="btn btn-primary mt-1 mb-5" asp-area="" asp-page="/ProductOrigins/Index">Add Product's Origin</a>
</div>