@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="main-text">
        <h1 class="display-4 text-capitalize text-black">Welcome to Planteea Shop</h1>
        <h2 class="main-sub-title">Check our catalogue! We have suculent plants!</h2>
    </div>
    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index"><img class="main-image" src="~/images/suculent-profile.jpg" /></a>
    <a class="btn btn-primary mt-1 mb-5" asp-area="" asp-page="/Products/Index">Add products</a>
</div>